body {
  background-color:  #d9f2d9 ;
}
h3 {
  color: #800055;
  align= center;
}
p {
  color:    #ff6666;

}
table, th, td {
  border: 2px solid   #ff751a;
  padding: inherit;
  font-style: italic;
  height: 50px;
  width:50%;


}
